.idea
__pycache__

#Кеш лабы_1
./laba_1/__pycache__
./laba_1/.idea

#Кеш лабы_2
./laba_2/__pycache__
./laba_2/.idea

#Кеш лабы_3
./laba_3/__pycache__
./laba_3/.idea


#Кеш лабы_3
./laba_4/__pycache__
./laba_4/.idea